.post__img-box{
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  &:hover{
    .post__img-cover{
      display: block;
    }
  }
}

.post__title{
  font-weight: bold;
  font-size: 17px;
  text-align: left;
  margin-top: 10px;
  color: #000;
}

.post__description{
  text-align: left;
  font-size: 12px;
  max-height: 40px;
  overflow: hidden;
}

.post__img-cover{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  a{
    font-size: 23px;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}

.post__domain{
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  svg{
    width: 15px;
    height: 15px;
  }
  path{
    fill: #ffffff;
  }
}

.tag-container{
  position: relative;
}

.tag-list{
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
  .left{
    width: 35px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 255, 255) 25%, rgba(255, 255, 255, 0) 100%);
    svg{
      width: 10px;
      height: 10px;
      path{
        fill: #333;
      }
    }
  }
  .right{
    width: 35px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background: linear-gradient(to left, rgb(255, 255, 255) 25%, rgba(255, 255, 255, 0) 100%);
    svg{
      width: 10px;
      height: 10px;
      path{
        fill: #333;
      }
    }
  }
}

.tag{
  color: #000000;
  background: #eee;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding: 2px 7px;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}